In [1]:
# Import the required Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Load the dataset
data=pd.read_csv('collegePlace.csv')

In [3]:
data.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1

In [4]:
# checking the dataype of the parameters(Columns)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                2966 non-null   int64
 1   Gender             2966 non-null   object
 2   Stream             2966 non-null   object
 3   Internships        2966 non-null   int64
 4   CGPA               2966 non-null   int64
 5   Hostel             2966 non-null   int64
 6   HistoryOfBacklogs  2966 non-null   int64
 7   PlacedOrNot        2966 non-null   int64
dtypes: int64(6), object(2)
memory usage: 185.5+ KB

In [5]:
# To know columns
data.columns

Index(['Age', 'Gender', 'Stream', 'Internships', 'CGPA', 'Hostel',
       'HistoryOfBacklogs', 'PlacedOrNot'],
      dtype='object')

In [6]:
# Descriptive Analysis
data.describe()

,Age,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
count,2966.000000,2966.000000,2966.000000,2966.000000,2966.000000,2966.000000
mean,21.485840,0.703641,7.073837,0.269049,0.192178,0.552596
std,1.324933,0.740197,0.967748,0.443540,0.394079,0.497310
min,19.000000,0.000000,5.000000,0.000000,0.000000,0.000000
25%,21.000000,0.000000,6.000000,0.000000,0.000000,0.000000
50%,21.000000,1.000000,7.000000,0.000000,0.000000,1.000000
75%,22.000000,1.000000,8.000000,1.000000,0.000000,1.000000
max,30.000000,3.000000,9.000000,1.000000,1.000000,1.000000

In [7]:
#Checking null values
data.isnull().any()

Age                  False
Gender               False
Stream               False
Internships          False
CGPA                 False
Hostel               False
HistoryOfBacklogs    False
PlacedOrNot          False
dtype: bool

In [8]:
#Label Encoding to convert categorical columns to numerical columns
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [9]:
data.Gender=le.fit_transform(data.Gender)

In [10]:
data.Stream=le.fit_transform(data.Stream)

In [11]:
#Splitting into dependent and independent variables
x=data.drop(columns=['PlacedOrNot'],axis=1)
y=data['PlacedOrNot']

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25,random_state = 0)

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix
models = [DecisionTreeClassifier(),RandomForestClassifier(),XGBClassifier(),KNeighborsClassifier()]
model_name=["Decision Tree","Random Forest","XgBoost","K-Nearest Neighbors"]

In [14]:
model_scores=[]
for model in models:
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test) 
    model_scores.append(accuracy_score(y_test, y_pred))

In [15]:
for i in range(len(model_name)):
    print(model_name[i],str(":"),model_scores[i])

Decision Tree : 0.8733153638814016
Random Forest : 0.8679245283018868
XgBoost : 0.876010781671159
K-Nearest Neighbors : 0.8706199460916442